.article-card {
  padding: 10px;
  max-width: 600px;
}

.title-and-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.article-card ul {
  list-style-type: none;
  padding: 5px 0 0 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.article-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-card:hover {
  background-color: rgba(242, 244, 245, 255);
  border-radius: 8px;
}

.article-image {
  height: 80px;
  width: auto;
  border-radius: 5px;
}

.article-title {
  font-size: 18px;
  margin: 0 10px 0 0;
}

.article-card a {
  text-decoration: none;
  color: black;
}

.article-card a:visited {
  color: black;
}
