.li-link {
  text-decoration: none;
  color: black;
}

.li-link li {
  list-style-type: none;
  padding-bottom: 4px;
}

.li-link li:hover {
  text-decoration: underline;
}

ul {
  padding-left: 15px;
}
