body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px auto;
  max-width: 600px;
}

.socials {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 15px;
  height: 30px;
}

.socials svg:hover {
  cursor: pointer;
  height: 40px;
}
