body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  max-width: 600px;
}
